@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.timeline {
  margin-bottom: 40px;

  .container {
    padding: 25px 15px;
    box-shadow: $shadow;
    border-radius: 10px;

    @include md {
      padding: 0;
      box-shadow: none;
    }
  }

  .timeline-status {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;

    @include lg {
      grid-template-columns: 1fr;
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      transition: border-color 0.3s ease;

      @include lg {
        flex-direction: row;
        padding: 20px 0;
        gap: 20px;
      }

      &:first-child {
        @include lg {
          padding-top: 0;
        }
      }

      &:last-child {
        @include lg {padding-bottom: 0;}
        
        &::after {
          @include lg {content: none;}
        }
      }


      svg {
        background-color: $white;
        fill: $dark-grey;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      &::before,
      &::after {
        content: "";
        border-top: 3px solid $grey;
        width: 50%;
        height: 3px;
        position: absolute;
        top: 15px;
        z-index: -1;
        transition: width 0.3s ease;

        @include lg {
          border-top: 0;
          height: 100%;
          border-left: 3px solid $grey;
          left: 14px;
          top: 30px;
        }
      }

      &.active::before,
      &.active::after {
        border-color: green;
        transition: border-color 0.3s ease;
      }

      &.active + :not(.active)::after {
        border-color: $grey;
      }

      &::before {
        left: 0;

        @include lg {display: none;}
      }

      &::after {
        right: 0;
      }

      &.active svg {
        fill: green;
      }

      &:first-child::before {
        width: 0;
      }

      &:first-child::after {
        width: 50%;
        right: 0;
      }

      &:last-child::after {
        width: 0;
      }

      &:last-child::before {
        width: 50%;
        left: 0;
      }

      &:not(.active) svg {
        border-radius: 50%;
        fill: $grey;
        background: $grey;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 5px;

      @include lg {
        text-align: left;
      }
    }

    .title {
      display: block;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  .status {
    text-align: center;
  }
}
