@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.navbar {
  background-color: $black;
  color: $white;
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
}
