@import "../../styles/variables.scss";

.footer {
  background-color: $black;
  color: $white;
  padding: 15px 0;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    font-size: 20px;
    font-weight: 700;
  }

  span {
    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-size: 14px;
    }
  }
}
