@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.ipo-details {
  margin-bottom: 40px;
  
  .container,
  .content {
    padding: 25px 15px;
    box-shadow: $shadow;
    border-radius: 10px;
  }

  .container {
    @include md {
      padding: 0;
      box-shadow: none;
    }
  }

  .content{
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 15px;

    @include lg{
      grid-template-columns: repeat(2, 1fr);
    }

    .title{
      font-size: 14px;
      line-height: 20px;
      color: $dark-grey;
      margin-bottom: 5px;
    }

    .value{
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;

    @include sm {
      font-size: 14px;
      line-height: 20px;
    }
    }
  }
}
